@model AllPlanetsViewModel

@{
    ViewData["Title"] = "All Planets - Largest Diameter to Smallest Diameter";
}

<header>
    <h1>@ViewData["Title"]</h1>
</header>

<section class="row">
    <article class="col-xs-12">
        <dl>
            <dt>@Html.DisplayNameFor(model => model.AverageDiameter)</dt>
            <dd>@Html.DisplayFor(model => model.AverageDiameter)</dd>
        </dl>
    </article>
</section>

<section class="row">
    <article class="col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Planets[0].Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Planets[0].Population)</th>
                    <th>@Html.DisplayNameFor(model => model.Planets[0].Diameter)</th>
                    <th>@Html.DisplayNameFor(model => model.Planets[0].Terrain)</th>
                    <th>@Html.DisplayNameFor(model => model.Planets[0].LengthOfYear)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var planet in Model.Planets)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => planet.Name)</td>
                        <td>@Html.DisplayFor(modelItem => planet.Population)</td>
                        <td>@Html.DisplayFor(modelItem => planet.Diameter)</td>
                        <td>@Html.DisplayFor(modelItem => planet.Terrain)</td>
                        <td>@Html.DisplayFor(modelItem => planet.LengthOfYear)</td>
                    </tr>
                }
            </tbody>
        </table>
    </article>
</section>
