@model VehicleSummaryViewModel

@{
    ViewData["Title"] = "Vehicle Summary";
}

<h1>@ViewData["Title"]</h1>

<p>
    <strong>@Html.DisplayNameFor(model => model.VehicleCount):</strong> @Html.DisplayFor(model => model.VehicleCount)
</p>

<p>
    <strong>@Html.DisplayNameFor(model => model.ManufacturerCount):</strong> @Html.DisplayFor(model => model.ManufacturerCount)
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Details[0].ManufacturerName)</th>
            <th>@Html.DisplayNameFor(model => model.Details[0].VehicleCount)</th>
            <th>@Html.DisplayNameFor(model => model.Details[0].AverageCost)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.ManufacturerName)</td>
                <td>@Html.DisplayFor(model => item.VehicleCount)</td>
                <td>@Html.DisplayFor(model => item.AverageCost)</td>
            </tr>
        }
    </tbody>
</table>
